spring:
  application:
    name: spendwise-api

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include:
          - "health"
          - "info"
  endpoint:
    health:
      show-details: when_authorized

